header {
	width: 100%;
	height: 60px;
	padding-top: 30px;
	background: var(--main);
}

.input-place {
	position: relative;

	input, button {
		border: none;
		outline: none;
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;

    &.blue {
      height: 30px;
      border-radius: 15px;
      background: var(--second);
      color: var(--light);

      &::placeholder {
        font-style: italic;
        color: var(--light);
      }
    }

    &.grey {
      height: 40px;
      border-radius: 30px;
      background: var(--light);
      color: var(--dark);

      &::placeholder {
        font-size: 14px;
        color: var(--medium);
      }
    }

		&.place {
			width: 230px;
			padding: 0 10px 0 30px;
		}

		&.locate {
      width: 30px;
			font-size: 14px;
			cursor: pointer;
    }
    
    &.user {
      padding: 0 20px;
      cursor: pointer;
    }

    &.degree-unit {
      width: 30px;
    }

    &.clickable {
      cursor: pointer;

      &:hover {
				background: var(--second-hover);
				transition: all .2s ease-in-out;
			}
    }

    a {
      text-decoration: none;
      color: var(--light);
    }
	}

	.search-icon {
		position: absolute;
		top: 3px;
		left: 10px;

		i {
			font-size: 14px;
			color: var(--light);
		}
	}
}

.connexion-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background: rgba(0,0,0,.8);
  opacity: 0;
  will-change: opacity;
  transition: opacity .2s ease-in;

  &.active {
    opacity: 1;

    form.connexion {
      transform: translateY(0);
    }
  }

  form.connexion {
    width: 260px;
    min-height: 200px;
    margin: 180px auto;
    padding: 40px 60px;
    position: relative;
    background: var(--white);
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    transform: translateY(-100vh);
    will-change: transform;
    transition: transform .2s ease-in-out;

    .title {
      font-size: 24px;
      font-weight: 700;
    }

    label {
      margin-top: 30px;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      display: block;
    }

    input {
      width: 220px;
      padding: 0 20px;
    }

    button {
      width: 100px;
      height: 30px;
      margin: 30px auto;
      display: block;
      font-size: 12px;
      font-weight: 400;
      color: var(--light);
      background: var(--main);
      border-radius: 15px;
      cursor: pointer;
      transition: background .2s ease-in-out;

      &:hover {
        background: var(--second);
      }
    }

    .item {
      position: relative;

      .hint {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 10px;
        font-style: italic;
        color: var(--medium);
      }
    }

    .quit {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50px;
      right: 30px;
      cursor: pointer;

      [class^=branch] {
        background: var(--dark);
        width: 30px;
        height: 3px;
        transform-origin: center;
        transition: transform .1s ease-in-out;
        will-change: transform;

        &.branch-1 {
          transform: translateY(3px) rotate(45deg);
        }
  
        &.branch-2 {
          transform: rotate(-45deg);
        }
      }

      &:hover {
          
        .branch-1 {
          transform: translateY(3px) rotate(40deg);
        }
  
        .branch-2 {
          transform: rotate(-40deg);
        }
      }
    }
  }
}