html, body {
	font-family: 'Avenir Next';
}

form {

	label {
		font-size: 36px;
		font-weight: 700;
	}

	input {
		margin-left: 10px;
		font-size: 36px;
		font-weight: 700;
		border: none;
		outline: none;

		&[type=text] {
			color: blue;
		}
	}
}

.item {
			
	.label {
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
	}
}