html, body {
	margin: 0;
	padding: 0;
	background: var(--background);
  font-family: 'Avenir Next';
  color: var(--dark);
}

.auto-960 {
  width: 960px;
	margin: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;

  &.evenly {
    justify-content: space-evenly;
  }

  &.between {
    justify-content: space-between;
  }
}

h1 {
  font-size: 36px;
  color: var(--dark);
}

h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--dark);
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark);
}

a {
  color: var(--dark);
  text-decoration: none;
}