@import 'variables';

body {
  background: #eeeeee;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Roboto';
  font-size: 140px;
  font-weight: 900;
  padding: 100px;
  overflow: hidden;


  .how {
    color: #0000ff;
  }

  form {
    display: inline;

    input {
      font-weight: 900;

      &[type=submit] {
        visibility: hidden;
      }
    }
  }
}
